.detail-title{
    padding: 10px 10px;
    font-size: 17px;
    font-weight:600;
    line-height: 38px;
    margin-bottom: 10px;
    color: #333;
} 
.detail-title span{
    font-size: 14px;
    color: #999;
}
.detail-box .detail-img{
    padding: 10px 10px;
    margin-top: -54px;
}
.detail-box{
    width: 100%;
    /* height: 450px; */
    background: #fff;
    box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);
    overflow: hidden;
}
.detail-box .detail_desc{
    padding: 10px 10px;
}
.detail-share{
    width: 100%;
    height: 40px;
    background-color: white;
    margin-top: -17px;
}
.fb-share-button {
    padding: 10px;
    margin-top: -12px;
}
.home-tabs>li.title>a {
    font-size: 18px;
    background: #555;
    color: #fff;
    border-radius: 0;
    height: 46px;
    border: 0;
    position: relative;
    padding: 10px 20px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.6;
    border-radius: 4px 4px 0 0;
}
.home-tabs.hot-new>li.title a {
    background: #5100ff;
    
}
.home-tabs {
    margin-top: -17px;
    border-bottom: 3px solid #555;
}
.home-tabs>li.title {
    float: left;
}
.home-tabs.hot-new>li.title a .corner {
    border-color: transparent transparent transparent #5100ff;
}
.home-tabs>li.title>a .corner {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 46px 0 0 20px;
    border-color: transparent transparent transparent #555;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li, .nav>li>a {
    display: block;
    position: relative;
}
.title-detail{
    width: 100%;
    background-color: aqua;
    overflow: hidden;
}
.tab-content {
    margin-top: -19px;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row_lightbox{
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}
.col_lightbox{
    /* margin: 5px; */
    width: 200px;
    height: 150px;
    border: solid 1px wheat;
}
@media only screen and (max-width: 1247px) and (min-width: 200px)  {
    #detial_re{
        margin-top: 108px !important;
    }
    .detail-box {
      width: 100%;
      /* height: 450px; */
      background: #fff;
      box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);
      overflow: hidden;
      margin-top: 136px;
    }
    /* .col_lightbox img{
      object-fit: cover;
    } */
}
